/**
 * 瞬间页面样式
 */
@reference "../../common/css/tailwind.css";

/* 隐藏滚动条 */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
