<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content})}">
  <th:block th:fragment="content">
    <!-- 导航条 -->
    <div th:replace="~{modules/navbar :: navbar}"></div>
    
    <!-- 主要内容 -->
    <main class="min-h-screen bg-base-100">
      <div class="container mx-auto px-4 py-8">
        <article
          class="prose !max-w-none"
          th:classappend="${(theme.config.post.content_size ?: 'prose-base') + ' ' + (theme.config.post.content_theme ?: 'prose-gray')}"
        >
          <h1 th:text="${post.spec.title}"></h1>
          <th:block th:utext="${post.content.content}"> </th:block>
        </article>
      </div>
    </main>
  </th:block>
</html>
